<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="traingle" class="org.jitu.test.springdemo.Traingle" autowire="byName">

		<!-- <property name="type" value="Equilateral"></property> <constructor-arg 
			index="1" value="EquilateralNew"></constructor-arg> <constructor-arg index="0" 
			value="30"></constructor-arg> -->


		<!-- <property name="pointA"> <bean class="org.jitu.test.springdemo.Point"> 
			<property name="x" value="0"></property> <property name="y" value="-2"></property> 
			</bean> </property> <property name="pointB" ref="pointOne_alias"></property> 
			<property name="pointC" ref="pointTwo"></property> -->

<!-- 
		<property name="points">
			<list>
				<ref bean="pointZero" />
				<ref bean="pointOne" />
				<ref bean="pointTwo" />
			</list>

		</property> -->
	</bean>

	<bean name="pointA" class="org.jitu.test.springdemo.Point">
		<property name="x" value="0"></property>
		<property name="y" value="-2"></property>
	</bean>

	<bean name="pointB" class="org.jitu.test.springdemo.Point">
		<property name="x" value="10"></property>
		<property name="y" value="20"></property>
	</bean>

	<bean name="pointC" class="org.jitu.test.springdemo.Point">
		<property name="x" value="30"></property>
		<property name="y" value="40"></property>
	</bean>

	<alias name="pointOne" alias="pointOne_alias" />
	<alias name="traingle" alias="traingle_alias" />
</beans>